<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="SiacCorporativo" connectionString="Data Source=SRV-QAS-SQL03\DESENVOLVIMENTO;Initial Catalog=SIAC_CORPORATIVO;User Id=u_siac;Password=u_siac;" providerName="System.Data.SqlClient"/>
      <add name="siac_web" connectionString="Data Source=SRV-QAS-SQL03\DESENVOLVIMENTO;Initial Catalog=SIAC_WEB_DESENVOLVIMENTO;User Id=u_siac_web;Password=siacwebspx123;" providerName="System.Data.SqlClient"/>
      <add name="log" connectionString="Data Source=SRV-QAS-SQL03\DESENVOLVIMENTO;Initial Catalog=SIAC_WEB_DESENVOLVIMENTO;User Id=u_siac_web;Password=siacwebspx123;" providerName="System.Data.SqlClient"/>
      <add name="Correios" connectionString="Data Source=SRV-QAS-SQL02;Initial Catalog=Correios_E_DNE_TESTE;User Id=u_dne;Password=u_dne;" providerName="System.Data.SqlClient"/>
      <add name="supermix_identity" connectionString="Data Source=SRV-QAS-SQL02;Initial Catalog=SupermixIdentity_TESTE;User Id=SupermixIdentity;Password=SupermixIdentity;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  </location>
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <add key="serilog:minimum-level" value="Verbose"/>
      <add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile"/>
      <!--TODO: DEFINIR ARQUIVO DE LOG-->
      <!--<add key="serilog:write-to:RollingFile.pathFormat" value="E:\spx_comercial_contrato_servico_windows_sp01\ContratoWinService\bin\Debug\Logs\log-{Date}.txt" />-->
      <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="31"/>

      <add key="FREQUENCIA_DE_EXECUCAO" value="30"/>
      <!--<add key="USAR_TRANSACAO" value="false" />-->
      <add key="VERSAO" value="SP_01_DEV_LOCAL"/>
    </appSettings>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.12.0" newVersion="4.0.12.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
