<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="Correios" connectionString="Data Source=SRV-QAS-SQL03\desenvolvimento;Initial Catalog=Correios_E_DNE;User Id=u_dne;Password=u_dne;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  </location>
  
</configuration>
